{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="card" style="margin-top: 10px;">
            <h4 class="card-header">
                {{ post.post_title }}
                {% if post.post_author == current_user.id %}
                    <a href="{{ url_for('blog.edit', post_id=post.id) }}">
                        <button title="Edit" class="btn btn-outline-primary">
                            <i class="far fa-edit"></i>
                        </button>
                    </a>
                        <button title="Delete" class="btn btn-outline-primary" data-toggle="modal" data-target="#confirmDelete">
                            <i class="far fa-trash-alt"></i>
                        </button>
                {% endif %}
            </h4>
            <div class="card-body">
                  <p>{{ post.post_content|markdown }}</p>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labeledby="confirmDeleteLabel" aria-hidden="true" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteLabel">
                        Confirm Delete
                    </h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Click delete to confirm. This cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form action="{{ url_for('blog.delete', post_id=post.id) }}">
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
